.swiper {
  width: 100%;
  height: 100%;
}
.swiper__wrapper {
  position: relative;
  width: 900px;
  left: -150px;
  display: flex;
  @include media-down('large') {
    width: 650px;
  }
  @include media('mlarge') {
    width: 700px;
  }
  @include media('xlarge') {
    left: -15rem;
    width: 850px;
  }
  @include media('xxlarge') {
    left: -13rem;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include media('xlarge') {
    object-fit: cover;
    width: 100%;
  }
  @include media('large') {
    width: 90%;
  }
  @include media('xlarge') {
    width: 95%;
  }
  @include media('xxlarge') {
    width: 100%;
  }
}
.slide__wrapper {
  // background-image: url("@images/png/main.png");
}