// @include reset();
.main {
	width: 100%;
	min-height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	&__right {
		display: flex;
		height: 100vh;
		position: relative;
		align-items: center;
		background-color: #181D20;
		@include col();
	}
	&__logo {
		display: flex;
		position: relative;
		flex-direction: column;
		@include col();
	}
	&__bg {
		background-color: #F0971E; 
	}
	&__sidebar {
		@include col();
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	&__col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		height: 100vh;
		background-color: #181D20;
	}
	&__content {
		display: flex;
		flex-direction: column;
		@include col();
		height: 100%;
	}
	&__left {
		flex-direction: column;
    padding-left: 4rem;
		height: 100vh;
		// flex: 0 0 55%;
		// max-width: 55%;
		display: flex;
		align-items: flex-start;
		color: #ffffff;
		@include col();
		@include media('xsmall') {
	    padding-left: 0;
	  }
		@include media('xlarge') {
	    padding-left: 4rem;
	  }
	  
	}
}

.presentation {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	max-width: 630px;
	padding: 0 2.5rem 0;
	min-height: 400px;
}

