-
  const ingredients = [
    {
      src: 'img/svg/ingredients/svg/salad.svg',
      text: 'salad'
    },
    {
      src: 'img/svg/ingredients/svg/star.svg',
      text: 'star'
    },
    {
      src: 'img/svg/ingredients/svg/vegetables.svg',
      text: 'vegetables'
    }
  ]
