-
  const ingredients_pizza = [
    {
      src: 'img/png/vegatables/product-1-600x500.png',
      text: 'vegetables'
    },
    {
      src: 'img/png/vegatables/product-2-600x500.png',
      text: 'vegetables'
    },
    {
      src: 'img/png/vegatables/product-3-600x500.png',
      text: 'vegetables'
    },
    {
      src: 'img/png/vegatables/product-4-600x500.png',
      text: 'vegetables'
    },
    {
      src: 'img/png/vegatables/product-5-600x500.png',
      text: 'vegetables'
    }
  ]